<app-nabar></app-nabar>
<button (click)="goBack()" class="bg-primary text-white font-bold p-2 ml-10 mt-10 rounded-full">Volver</button>

<main>
   <h1 class="mt-10 ml-10 font-bold text-2xl" >Mi Carrito</h1>

   <div class="overflow-x-auto">
    <table class="table mt-10 ">
      <!-- head -->
      <thead>
        <tr>
     
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price}}</td>
          <td>{{product.total}}</td>
        </tr>
      </tbody>
    </table>

    <button (click)="confirmOrder()" class="fixed bottom-5 right-5 btn-primary p-2 rounded-lg" >Confirm Order</button>
  </div>
</main>


